[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
    # Parameters
    {% set target_bed = params.BED|int %}
    {% set target_hotend = params.HOTEND|int %}
    {% set target_chamber = params.CHAMBER|default("40")|int %}
    {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}    ; Not available on SuperSlicer; available on PrusaSlicer
    {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    CLEAR_PAUSE

    STATUS_HOMING
    G28                                                    ; initial homing, required for clean_nozzle macro
    G90                                                    ; absolute positioning

    BED_MESH_CLEAR

    # Heat up bed and...
    SET_DISPLAY_TEXT MSG="Set Bed to {target_bed}C"
    STATUS_HEATING
    G1 X{x_wait} Y{y_wait} Z15 F9000                       ; go to centre of bed
    M190 S{target_bed}                                     ; set & wait for bed temp
    # BedFans will turn on automatically, see bedfans.cfg
    {% if params.BED|int > 90 %}                           ; target bed temp is higher than 90c, heatsoak until chamber temp target reached
        SET_DISPLAY_TEXT MSG="Heatsoak chamber to {target_chamber_wait}c"
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber_wait}    ; Waits for chamber temp
    {% else %}                                             ; target bed temp is not over 90, just a 5mins heatsoak
        SET_DISPLAY_TEXT MSG="Soak for 5 min"
        G4 P300000 
    {% endif %}

    # Pre-heat hotend to 150C for getting correct z home and easy nozzle cleaning
    SET_DISPLAY_TEXT MSG="Preheat hotend to 150c"
    M109 S150

    SET_DISPLAY_TEXT MSG="Quad Gantry Level"
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL                                      ; perform QGL

    SET_DISPLAY_TEXT MSG="Cleaning nozzle"
    CLEAN_NOZZLE                                           ; scrub nozzle to remove any oozing, before G28 (won't purge if hotend temperature is below 240C)
    
    SET_DISPLAY_TEXT MSG="Cartographer touch home"
    CARTOGRAPHER_TOUCH_HOME                                ; calibrate (touch) z offset with hot nozzle

    SET_DISPLAY_TEXT MSG="Bed mesh"
    STATUS_MESHING
    BED_MESH_CALIBRATE ADAPTIVE=1                          ; bed mesh, should be after any homing and leveling routines like G28, G32, QUAD_GANTRY_LEVEL

    SET_DISPLAY_TEXT MSG="Set hotend to terget temp of {target_hotend}"
    STATUS_HEATING
    G1 X{x_wait} Y{y_wait} Z15 F9000                       ; go to centre of bed
    M109 S{target_hotend}                                  ; set & wait for hotend temp

    SET_DISPLAY_TEXT MSG="Load skew profile"
    SKEW_PROFILE LOAD=Fillamentum_Extrafill_ASA_Natural    ; Load skew profile

    SET_DIEPLAY_TEXT MSG="Start printing"
    STATUS_PRINTING
    G0 X{x_wait - 50} Y4 F10000                           ; Go to starting point
    G0 Z0.4                                               ; Raise Z to 0.4
    #G91                                                   ; Incremental positioning 
    #G1 X100 E20 F1000                                     ; Primeline
    G90                                                   ; Absolute position

#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    SET_SKEW CLEAR=1

    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                                                 ; wait for buffer to clear
    G92 E0                                               ; zero the extruder
    G1 E-6.0 F1800                                       ; - Jones (retract filament back from -10 to -5?)<G1 E-5.0 F1800
    
    TURN_OFF_HEATERS
    
    G90                                                  ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000              ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600
    
    M107                                                 ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END