[include mainsail.cfg]
[include orbitoolO2S_leds.cfg]
[include object_cancellation.cfg]
[include mini12864_lcd.cfg]
[include bedfans.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include nozzle_scrub.cfg]
[include gcodes-misc.cfg]
[include shaketune.cfg]

#####################################################################
# MCU - BTT Octopus Pro
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_25004C000F50304738313820-if00
restart_method: command


#####################################################################
# MCU - Orbitool O2S Toolhead PCB
#####################################################################
[mcu orbitoolO2S]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_Orbitool_O2S-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6500                   # - Jones<max_accel: 8000
max_z_velocity: 15                 #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   MCU - Cartographer
#####################################################################
[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_3E0055000650303448383620-if00
restart_method: command


#####################################################################
#   X/Y Stepper Settings
#####################################################################
# B Stepper Left (LDO-42STH48-2004MAH(VRN)); connected to MCU MOTOR_0; Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64                     # - Jones (quiet down stepper)<microsteps: 32
full_steps_per_rotation:400        # - Jones (for 0.9 degree stepper)<full_steps_per_rotation:200
endstop_pin: orbitoolO2S:PA2
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 50                   # Max 100, previous: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0                   # - Jones (quiet down stepper, max 1.4A, MUST equipped with electronics cooling fan)<run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

# A Stepper Right (LDO-42STH48-2004MAH(VRN)); connected to MCU MOTOR_1; Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64                     # - Jones (quiet down stepper)<microsteps: 32
full_steps_per_rotation:400        # - Jones (for 0.9 degree stepper)<full_steps_per_rotation:200
endstop_pin: PG9
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 50                   # Max 100, previous 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0                   # - Jones (quiet down stepper, max 1.4A, MUST equipped with electronics cooling fan)<run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################
# Z0 Stepper - Front Left (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_2; Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop    # Cartographer
homing_retract_dist: 0
position_max: 240                       # Z-Rail max: 275; 240 for umbilical cable and chamber thermistor
position_min: -5
homing_speed: 8
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0

# Z1 Stepper - Rear Left (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0

# Z2 Stepper - Rear Right (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0

# Z3 Stepper - Front Right (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################
# Extruder (LDO-36STH20-1004AHG)
[extruder]
step_pin = orbitoolO2S:PB3
dir_pin = !orbitoolO2S:PB4
enable_pin = !orbitoolO2S:PC14
microsteps = 32
rotation_distance = 4.69           # rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
full_steps_per_rotation: 200       # 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin = orbitoolO2S:PB9
sensor_pin = orbitoolO2S:PA1
pullup_resistor = 2200
sensor_type: PT1000
min_temp: -1                       # - Jones(to adopt the ambient temperature in garage)<min_temp: 10
max_temp: 270
pressure_advance: 0.025            # StealthBurner:0.045
pressure_advance_smooth_time: 0.03 # StealthBurner:0.040
max_extrude_only_distance: 101     # - Jones(Ellis's tuning guide)
max_extrude_only_velocity: 120
max_extrude_cross_section = 20     # KAMP requires >=5
min_extrude_temp: 180              # - Jones<min_extrude_temp: 170 (increase to 180 as recommended by OrbiterProject)
smooth_time = 0.5
max_power: 0.995                   # limit heater power to 99.5% to enable autorecovery from short detection
pwm_cycle_time: 0.01               # to improve the heater power calculation accuracy
# gear_ratio: 7.5:1                  # Orbiter2: 7.5:1; StealthBurner/Clockwork2: 50:10, not specified in sample config

[adc_temperature HOT_P]            # To display the actual power of the heater
temperature1:120 # value in Watts
#voltage1:1.32
voltage1:1.91 
temperature2:240 # value in Watts
voltage2:3.82 
#voltage2:2.64

[temperature_sensor Hotend_power]  # To display the actual power of the heater
sensor_pin: orbitoolO2S:PA0 
sensor_type: HOT_P

[tmc2240 extruder]                 # configuration for O2S toolboard
uart_pin: orbitoolO2S:PC13
interpolate: false
run_current: 0.85
rref: 12000
stealthchop_threshold: 0           # or 99999?
#driver_TBL: 0
#driver_HEND: 3
#river_HSTRT: 7
#driver_TOFF: 4


#####################################################################
#   Bed Heater
#####################################################################
# SSR Pin - HE1; Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
# max_power: 0.74                    # - Jones(Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4watts/cm^2, (30.5*30.5*0.4)/500 = 0.7442)<max_power: 0.6
max_power: 1.0
min_temp: 0
max_temp: 120
# Superseded after PID tuning, at the end of file
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
#   Probe
#####################################################################
#[probe]
#pin: ^sb2040:gpio25                # - Jones(CanBus)<pin: PG15
#x_offset: 0
#y_offset: 0                        # - Jones(Voron-Tap)<y_offset: 25.0
##z_offset: 0
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3

# - Jones(Voron-Tap) gcode for probing cold
#activate_gcode:
#    {% set PROBE_TEMP = 150 %}
#    {% set MAX_TEMP = PROBE_TEMP + 5 %}
#    {% set ACTUAL_TEMP = printer.extruder.temperature %}
#    {% set TARGET_TEMP = printer.extruder.target %}
#
#    {% if TARGET_TEMP > PROBE_TEMP %}
#        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#        M109 S{ PROBE_TEMP }
#    {% else %}
#        # Temperature target is already low enough, but nozzle may still be too hot.
#        {% if ACTUAL_TEMP > MAX_TEMP %}
#            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#        {% endif %}
#    {% endif %}
    

#####################################################################
#   Fan Control
#####################################################################
# Part Cooling Fan
[fan]
pin: !orbitoolO2S:PA10
enable_pin: orbitoolO2S:PB14
off_below: 0.2
tachometer_pin: orbitoolO2S:PA14
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
shutdown_speed: 0.0
cycle_time: 0.0001 # 10KHz control signal frequency
kick_start_time: 0.2
hardware_pwm: False

#  Hotend Fan
[heater_fan Hotend_Fan]
pin: !orbitoolO2S:PB15  
tachometer_pin: orbitoolO2S:PB12
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
heater: extruder
cycle_time: 0.0001                 # 10KHz PWM frecvency, do NOT lower this value
heater_temp: 75
fan_speed: 1.0                     # If you are experiencing back flow, you can reduce fan_speed; can be lowered to reduce fan noise
hardware_pwm: false
shutdown_speed: 0.0
max_power: 0.5                     # max 0.5 for 12V fan, 1.0 for 24V, can be lowered to reduce fan noise

#  Controller / Electronics Bay Fan - FAN2
[controller_fan Electronics_Fan]
pin: PD12
max_power: 0.25
kick_start_time: 0.5
idle_timeout: 30
heater: heater_bed
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3
#[fan_generic Electronics_Fan]
#pin: PD12
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0

#  Exhaust Fan - FAN3
[fan_generic Exhaust_Fan]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0


#####################################################################
#   LED Control
#####################################################################
# Chamber Lighting - HE2 Connector (Optional)
[output_pin chamber_light]
pin: PB10
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 7200

[safe_z_home]
home_xy_position:150,150    # Should be centre of bed as required by Cartographer
speed:100
z_hop:10

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
points:
   50,25
   50,225
   250,225
   250,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


[cartographer]
mcu: cartographer
x_offset: 2.8 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 27 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output


#####################################################################
#   Bed Mesh, initial setting from Voron docs
#####################################################################
[bed_mesh]
zero_reference_position: 150, 150    # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 40, 40
mesh_max: 260,260
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0                        # Disable interpolation - mesh is probably dense enough


#####################################################################
#   Additional temperature sensors
#####################################################################
# Temperature sensor for Host (Raspberry Pi)
[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

# Temperature sensor for MCU (Octopus Pro)
[temperature_sensor Octopus_Pro]
sensor_type: temperature_mcu
sensor_mcu: mcu

# Chamber temperature sensor
[temperature_sensor Chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4

# Hotend heatsink thermistor
[temperature_sensor Hotend_heatsink]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF5

# Orbitool O2S MCU temperature
[temperature_sensor toolboard]
sensor_type: temperature_mcu
sensor_mcu: orbitoolO2S

[output_pin T0_RUN_LED]
pin: orbitoolO2S:PB13
value: 1
shutdown_value: 0

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105


#####################################################################
#   Firmware Retraction (for Orbitor 2?)
#####################################################################
[firmware_retraction]
retract_length: 1.2 # user calibration needed
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 120
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 120
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


#####################################################################
#   Input Sharper
#####################################################################
[adxl345 o2sADXL]
cs_pin: orbitoolO2S:PA4
spi_bus: spi1
axes_map: y, z, x # Assumes back-faceing vertical toolboard mounting
spi_speed: 5000000

[adxl345 cartoADXL]
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip:adxl345 o2sADXL
probe_points:
    150,150,20

[input_shaper]
shaper_freq_x: 82.0
shaper_type_x: 2hump_ei
shaper_freq_y: 40.2
shaper_type_y: mzv

# Without side and top panel
#shaper_freq_x: 102.0
#shaper_type_x: 3hump_ei
#shaper_freq_y: 39.8
#shaper_type_y: mzv


#####################################################################
#   Enable skew correction (https://www.klipper3d.org/Skew_Correction.html#configure-your-skew)
#####################################################################
[skew_correction]

#####################################################################
#   Section needed in order to exclude object during print (https://www.klipper3d.org/Exclude_Object.html)
#####################################################################
[exclude_object]

#####################################################################
#   Macros
#####################################################################
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28

    QUAD_GANTRY_LEVEL
    G28
#   G0 X150 Y150 Z30 F3600                               ; removed, Voron Tap already set Z-homing at centre of bed

    RESTORE_GCODE_STATE NAME=STATE_G32

#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
    # - Jones(Ellis's tuning guide)
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    # {% set chambertemp = params.CHAMBER|default(0)|int %}

    G28                                                  ; initial homing, required for clean_nozzle macro

    M190 S{bedtemp}                                      ; set & wait for bed temp
    # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}   ; wait for chamber temp

    M109 S175                                            ; pre-heat extruder to 175C for easy nozzle cleaning
    clean_nozzle                                         ; scrub nozzle to remove any oozing, before G28 (won't purge if hotend temperature is below 240C)

    {% if hotendtemp*0.75 <= 150 %}
        M109 S{(hotendtemp*0.75)|round(0,'ceil')|int}    ; pre-heat extruder to 75% of target temperature
    {% else %}
        M109 S150                                        ; Or, to maximum of 150C
    {% endif %}
    
    BED_MESH_CLEAR
    G32                                                  ; home all axes G32 = G28 + QGL + G28 + move to bed center
    BED_MESH_CALIBRATE                                   ; bed mesh, should be after any homing and leveling routines like G28, G32, QUAD_GANTRY_LEVEL
    G28 Z                                                ; final Z homing, after heated bed and hotend

    G90                                                  ; absolute positioning

#   No longer necessary with Smart_Park?
#   G1 X275 Y300 Z20 F3000                               ; move nozzle away from bed

    Smart_Park                                           ; A feature of KAMP, move the printhead near the print area to do final heating

    M109 S{hotendtemp}                                   ; set & wait for hotend temp

    SKEW_PROFILE LOAD=Fillamentum_Extrafill_ASA_Natural    ; Load skew profile

#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    SET_SKEW CLEAR=1

    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                                                 ; wait for buffer to clear
    G92 E0                                               ; zero the extruder
    G1 E-6.0 F1800                                       ; - Jones (retract filament back from -10 to -5?)<G1 E-5.0 F1800
    
    TURN_OFF_HEATERS
    
    G90                                                  ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000              ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600
    
    M107                                                 ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.364
#*# pid_ki = 2.235
#*# pid_kd = 449.091
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.284
#*# pid_ki = 4.157
#*# pid_kd = 92.809
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.032500, -0.023750, -0.040000
#*# 	  -0.026250, -0.013750, -0.027500
#*# 	  -0.006250, 0.003750, 0.001250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 96.97999999999999
#*# max_x = 202.32
#*# min_y = 96.97
#*# max_y = 202.42999999999998
#*#
#*# [probe]
#*# z_offset = -0.930
#*#
#*# [skew_correction Fillamentum_Extrafill_ASA_Natural]
#*# xy_skew = 0.0024960884031216104
#*# xz_skew = 0.0002050607695965943
#*# yz_skew = -0.00013435074108080882
