[include mainsail.cfg]
[include stealthburner_leds.cfg]
[include object_cancellation.cfg]
[include mini12864_lcd.cfg]
[include bedfans.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include nozzle_scrub.cfg]
[include gcodes-misc.cfg]
[include shaketune.cfg]

#####################################################################
# MCU - BTT Octopus Pro
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_25004C000F50304738313820-if00
restart_method: command


#####################################################################
# MCU - Mellow SB2040 Toolhead PCB
#####################################################################
#[mcu sb2040]
#canbus_uuid: dfcce5c56836

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6500                   # - Jones<max_accel: 8000
max_z_velocity: 15                 #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


#####################################################################
#   X/Y Stepper Settings
#####################################################################
# B Stepper Left (LDO-42STH48-2004MAH(VRN)); connected to MCU MOTOR_0; Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64                     # - Jones (quiet down stepper)<microsteps: 32
full_steps_per_rotation:400        # - Jones (for 0.9 degree stepper)<full_steps_per_rotation:200
endstop_pin: ^sb2040:gpio28        # - Jones(CanBus)<endstop_pin: PG6
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 50                   # Max 100, previous: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0                   # - Jones (quiet down stepper, max 1.4A, MUST equipped with electronics cooling fan)<run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

# A Stepper Right (LDO-42STH48-2004MAH(VRN)); connected to MCU MOTOR_1; Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64                     # - Jones (quiet down stepper)<microsteps: 32
full_steps_per_rotation:400        # - Jones (for 0.9 degree stepper)<full_steps_per_rotation:200
endstop_pin: PG9
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 50                   # Max 100, previous 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0                   # - Jones (quiet down stepper, max 1.4A, MUST equipped with electronics cooling fan)<run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################
# Z0 Stepper - Front Left (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_2; Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop    # - Jones(Voron-Tap)<endstop_pin: PG10
position_max: 240                       # Z-Rail max: 275; 240 for umbilical cable and chamber thermistor
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0

# Z1 Stepper - Rear Left (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0

# Z2 Stepper - Rear Right (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0

# Z3 Stepper - Front Right (LDO-42STH48-2004AC(VRN)); connected to MCU MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999      # - Jones<stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################
# Extruder (LDO-36STH20-1004AHG(VRN)) - connected to MCU MOTOR_6; Heater - HE0; Thermistor - T0
[extruder]
step_pin: sb2040:gpio9             # - Jones(CanBus)<step_pin: PE2
dir_pin: !sb2040:gpio10             # - Jones(CanBus)<dir_pin: PE3
enable_pin: !sb2040:gpio7          # - Jones(CanBus)<enable_pin: !PD4

# rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 22.767794       # - Jones(22.6789511 is a good starting point for Bondtech 5mm drive gears)<rotation_distance: 22.6789511
max_extrude_only_distance: 101     # - Jones(Ellis's tuning guide)
gear_ratio: 50:10                  # - Jones(50:10 for StealthBurner/Clockwork 2)<gear_ratio: 50:17 #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200       # 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: sb2040:gpio6           # - Jones(CanBus)<heater_pin: PA2
# Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
# Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: sb2040:gpio27          # - Jones<sensor_pin: PF4
min_temp: -1                       # - Jones(to adopt the ambient temperature in garage)<min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 180              # - Jones<min_extrude_temp: 170 (increase to 180 as recommended by OrbiterProject)
# Try to keep pressure_advance below 1.0
pressure_advance: 0.045            # - Jones<pressure_advance: 0.05
pressure_advance_smooth_time: 0.040

# Superseded after PID tuning, at the end of file
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

# Required by KAMP
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: sb2040:gpio8             # - Jones(CanBus)<uart_pin: PE1
interpolate: false
run_current: 0.65                  # - Jones(Ellis's tuning guide)<run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################
# SSR Pin - HE1; Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
# max_power: 0.74                    # - Jones(Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4watts/cm^2, (30.5*30.5*0.4)/500 = 0.7442)<max_power: 0.6
max_power: 1.0
min_temp: 0
max_temp: 120
# Superseded after PID tuning, at the end of file
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
#   Probe
#####################################################################
# Inductive Probe, not used for Z height, only Quad Gantry Leveling
[probe]
pin: ^sb2040:gpio25                # - Jones(CanBus)<pin: PG15
x_offset: 0
y_offset: 0                        # - Jones(Voron-Tap)<y_offset: 25.0
#z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

# - Jones(Voron-Tap) gcode for probing cold
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    

#####################################################################
#   Fan Control
#####################################################################
# Part Cooling Fan - FAN0
[fan]
pin: sb2040:gpio13                 # - Jones(CanBus)<pin: PA8
kick_start_time: 0.5
off_below: 0.10                    # Depending on your fan, you may need to increase this value if your fan will not start. Can change cycle_time (increase) if your fan is not able to slow down effectively

#  Hotend Fan - FAN1
[heater_fan Hotend_Fan]
pin: sb2040:gpio14                 # - Jones(CanBus)<pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0                     # If you are experiencing back flow, you can reduce fan_speed

#  Controller / Electronics Bay Fan - FAN2
[controller_fan Electronics_Fan]
pin: PD12
max_power: 0.25
kick_start_time: 0.5
idle_timeout: 30
heater: heater_bed
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3
#[fan_generic Electronics_Fan]
#pin: PD12
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0

#  Exhaust Fan - FAN3
[fan_generic Exhaust_Fan]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0


#####################################################################
#   LED Control
#####################################################################
# Chamber Lighting - HE2 Connector (Optional)
[output_pin chamber_light]
pin: PB10
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 7200

[safe_z_home]
home_xy_position:150,150    # - Jones(Voron-Tap)<home_xy_position:208,300         # - Jones<home_xy_position:-10,-10
speed:100
z_hop:10

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
points:
   50,25
   50,225
   250,225
   250,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
#   Bed Mesh, initial setting from Voron docs
#####################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 260,260
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5                  ; Values should be odd, so one point is directly at bed center
algorithm: bicubic
# relative_reference_index: 12      ; Update when changing probe_count, to ((x points * y points) - 1) / 2. (the center point), depreciated 20230619


#####################################################################
#   Additional temperature sensors
#####################################################################
# Temperature sensor for Host (Raspberry Pi)
[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

# Temperature sensor for MCU (Octopus Pro)
[temperature_sensor Octopus_Pro]
sensor_type: temperature_mcu
sensor_mcu: mcu

# Temperature sensor for MCU (SB2040 CanBus toolhead PCB)
#[temperature_sensor SB2040_MCU]
#sensor_type: temperature_mcu
#sensor_mcu: sb2040
#sensor_temperature1: 4.0
#sensor_adc1: 0.192552

# Onboard temperature sensor for SB2040 toolboard
#[temperature_sensor SB2040_onboard]
#sensor_type: ATC Semitec 104GT-2
#sensor_pin = sb2040:gpio26

# Chamber temperature sensor
[temperature_sensor Chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4


#####################################################################
#   Input Sharper
#####################################################################
[adxl345]
cs_pin: sb2040:gpio1
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2
#axes_map: -z, y, -x               ; as xyz labelled on the back of sb2040
axes_map: -z, -y, -x              ; Shake&Tune(AXES_MAP_CALIBRATION)

[resonance_tester]
accel_chip:adxl345
probe_points:
    150,150,20

[input_shaper]
shaper_freq_x: 82.0
shaper_type_x: 2hump_ei
shaper_freq_y: 40.2
shaper_type_y: mzv

# Without side and top panel
#shaper_freq_x: 102.0
#shaper_type_x: 3hump_ei
#shaper_freq_y: 39.8
#shaper_type_y: mzv



#####################################################################
#   Enable skew correction (https://www.klipper3d.org/Skew_Correction.html#configure-your-skew)
#####################################################################
[skew_correction]

#####################################################################
#   Section needed in order to exclude object during print (https://www.klipper3d.org/Exclude_Object.html)
#####################################################################
[exclude_object]

#####################################################################
#   Macros
#####################################################################
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28

    QUAD_GANTRY_LEVEL
    G28
#   G0 X150 Y150 Z30 F3600                               ; removed, Voron Tap already set Z-homing at centre of bed

    RESTORE_GCODE_STATE NAME=STATE_G32

#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
    # - Jones(Ellis's tuning guide)
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    # {% set chambertemp = params.CHAMBER|default(0)|int %}

    G28                                                  ; initial homing, required for clean_nozzle macro

    M190 S{bedtemp}                                      ; set & wait for bed temp
    # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}   ; wait for chamber temp

    M109 S175                                            ; pre-heat extruder to 175C for easy nozzle cleaning
    clean_nozzle                                         ; scrub nozzle to remove any oozing, before G28 (won't purge if hotend temperature is below 240C)

    {% if hotendtemp*0.75 <= 150 %}
        M109 S{(hotendtemp*0.75)|round(0,'ceil')|int}    ; pre-heat extruder to 75% of target temperature
    {% else %}
        M109 S150                                        ; Or, to maximum of 150C
    {% endif %}
    
    BED_MESH_CLEAR
    G32                                                  ; home all axes G32 = G28 + QGL + G28 + move to bed center
    BED_MESH_CALIBRATE                                   ; bed mesh, should be after any homing and leveling routines like G28, G32, QUAD_GANTRY_LEVEL
    G28 Z                                                ; final Z homing, after heated bed and hotend

    G90                                                  ; absolute positioning

#   No longer necessary with Smart_Park?
#   G1 X275 Y300 Z20 F3000                               ; move nozzle away from bed

    Smart_Park                                           ; A feature of KAMP, move the printhead near the print area to do final heating

    M109 S{hotendtemp}                                   ; set & wait for hotend temp

    SKEW_PROFILE LOAD=Fillamentum_Extrafill_ASA_Natural    ; Load skew profile

#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    SET_SKEW CLEAR=1

    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                                                 ; wait for buffer to clear
    G92 E0                                               ; zero the extruder
    G1 E-6.0 F1800                                       ; - Jones (retract filament back from -10 to -5?)<G1 E-5.0 F1800
    
    TURN_OFF_HEATERS
    
    G90                                                  ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000              ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600
    
    M107                                                 ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.364
#*# pid_ki = 2.235
#*# pid_kd = 449.091
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.284
#*# pid_ki = 4.157
#*# pid_kd = 92.809
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.032500, -0.023750, -0.040000
#*# 	  -0.026250, -0.013750, -0.027500
#*# 	  -0.006250, 0.003750, 0.001250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 96.97999999999999
#*# max_x = 202.32
#*# min_y = 96.97
#*# max_y = 202.42999999999998
#*#
#*# [probe]
#*# z_offset = -0.930
#*#
#*# [skew_correction Fillamentum_Extrafill_ASA_Natural]
#*# xy_skew = 0.0024960884031216104
#*# xz_skew = 0.0002050607695965943
#*# yz_skew = -0.00013435074108080882
